# References:
- Qin, H., 2015. Cross-validation: evaluating estimator performance. [Online] Available at: https://github.com/qinhanmin2014 [Accessed 10 20 2019].

- developers, 2019. scikit-learn user guide. [Online] Available at: https://scikit-learn.org/stable/_downloads/scikit-learn-docs.pdf [Accessed 11 3 2019].
- wild, m., 2017. Does Python have a package for AIC/BIC. [Online] Available at: https://www.reddit.com/user/manofthewild07 [Accessed 12 2 2019].

- Qin, H., 2018. sklearn.metrics.mean_squared_error. [Online] 
Available at: https://github.com/scikit-learn/scikit-learn/blob/7b136e9/sklearn/metrics/regression.py#L184 [Accessed 10 2 2019].

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn import tree
from sklearn.metrics import *
from sklearn import linear_model, decomposition, datasets
from sklearn.metrics import *
from sklearn.svm import SVR, SVC
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.neighbors import KNeighborsClassifier,KNeighborsRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
import warnings
from sklearn.pipeline import make_pipeline
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
%matplotlib inline
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import KFold , RandomizedSearchCV
from sklearn.model_selection import KFold , RandomizedSearchCV
from sklearn import model_selection
import xgboost as xgb
from sklearn import metrics
from sklearn.metrics import mean_squared_error
import math

In [21]:
por = pd.read_csv("C:/Users/test/Desktop/data/student-por.csv",delimiter=';')

In [22]:
cat_vars= por.select_dtypes(include=['object']).columns.to_list()
dummies_data = pd.DataFrame(por,copy=True)
for var in cat_vars:
    cat_list='var'+'_'+var
    cat_list = pd.get_dummies(dummies_data[var], prefix=var, drop_first=True)
    data1=dummies_data.join(cat_list)
    dummies_data=data1
    
data_vars=dummies_data.columns.values.tolist()
to_keep=[i for i in data_vars if i not in cat_vars]

dummies_data_final=dummies_data[to_keep]

In [23]:

V=dummies_data_final['G1'].median()
S=dummies_data_final['G2'].median()
R=dummies_data_final['G3'].median()
dummies_data_final['G2']=dummies_data_final['G2'].replace(0, S)
dummies_data_final['G3']=dummies_data_final['G3'].replace(0, R)
dummies_data_final['G1']=dummies_data_final['G1'].replace(0, V)

In [24]:
dummies_data_final.count()

age                  649
Medu                 649
Fedu                 649
traveltime           649
studytime            649
failures             649
famrel               649
freetime             649
goout                649
Dalc                 649
Walc                 649
health               649
absences             649
G1                   649
G2                   649
G3                   649
school_MS            649
sex_M                649
address_U            649
famsize_LE3          649
Pstatus_T            649
Mjob_health          649
Mjob_other           649
Mjob_services        649
Mjob_teacher         649
Fjob_health          649
Fjob_other           649
Fjob_services        649
Fjob_teacher         649
reason_home          649
reason_other         649
reason_reputation    649
guardian_mother      649
guardian_other       649
schoolsup_yes        649
famsup_yes           649
paid_yes             649
activities_yes       649
nursery_yes          649
higher_yes           649
internet_yes         649
romantic_yes         649
dtype: int64

In [25]:
dummies_data_final.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,guardian_mother,guardian_other,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes
0,18,4,4,2,2,0,4,3,4,1,...,1,0,1,0,0,0,1,1,0,0
1,17,1,1,1,2,0,5,3,3,1,...,0,0,0,1,0,0,0,1,1,0
2,15,1,1,1,2,0,4,3,2,2,...,1,0,1,0,0,0,1,1,1,0
3,15,4,2,1,3,0,3,2,2,1,...,1,0,0,1,0,1,1,1,1,1
4,16,3,3,1,2,0,4,3,2,1,...,0,0,0,1,0,0,1,1,0,0

In [26]:
x = dummies_data_final.loc[:, dummies_data_final.columns != 'G3']
y = dummies_data_final['G3']

Decision Tree Regression

In [27]:

DT = DecisionTreeRegressor()


predictions_DDT = cross_val_predict(DT, x, y, cv=10)
resid = y - predictions_DDT
SSE = sum(resid**2)
AIC = 2*42  - 2*np.log(SSE)
BIC = 649 * np.log(SSE/649) + 42 * np.log(649)

#(wild, 2017)

print('BIC =',BIC)
print('AIC =',AIC)
#(Qin, 2015)

R_DDT = metrics.r2_score(y, predictions_DDT)
print('RDDT: ', R_DDT)


rmse_DDT = math.sqrt(mean_squared_error(y, predictions_DDT))
print('RMSE ', rmse_DDT)

BIC = 762.9870462110455
AIC = 69.53597933667048
RDDT:  0.6985075980490951
RMSE  1.459784478678638

XGB Regression

In [28]:
import xgboost as xgb


xgb = xgb.XGBRegressor()


predictions_xgb = cross_val_predict(xgb, x, y, cv=10)
resid = y - predictions_xgb
SSE = sum(resid**2)
AIC = 2*42  - 2*np.log(SSE)
BIC = 649 * np.log(SSE/649) + 42 * np.log(649)


print('BIC =',BIC)
print('AIC =',AIC)

R_xgb = metrics.r2_score(y, predictions_xgb)
print('RDXGB: ', R_xgb)

#(Qin, 2018)

rmse_xgb = math.sqrt(mean_squared_error(y, predictions_xgb))
print('rmse ', rmse_xgb)

BIC = 350.53673028405814
AIC = 70.80701266772438
RDXGB:  0.8403110038650683
rmse  1.0623999734153837

Random Forest Regression

In [29]:

RF = RandomForestRegressor()

predictions_rf = cross_val_predict(RF, x, y, cv=10)
resid = y - predictions_rf
SSE = sum(resid**2)
AIC = 2*42  - 2*np.log(SSE)
BIC = 649 * np.log(SSE/649) + 42 * np.log(649)


print('BIC =',BIC)
print('AIC =',AIC)

R_rf = metrics.r2_score(y, predictions_rf)
print('RRF: ', R_rf)


rmse_rf = math.sqrt(mean_squared_error(y, predictions_rf))
print('rmse ', rmse_rf)

BIC = 464.43568631193807
AIC = 70.45601434406373
RRF:  0.8096761088046005
rmse  1.1598376699552182

SVR Regression

In [30]:
SVR = SVR()
predictions = cross_val_predict(SVR, x, y, cv=10)
resid = y - predictions
SSE = sum(resid**2)
AIC = 2*42  - 2*np.log(SSE)
BIC = 649 * np.log(SSE/649) + 42 * np.log(649)


R_SVR = metrics.r2_score(y, predictions)
print('RSVR: ', R_SVR)


print('BIC =',BIC)
print('AIC =',AIC)

RGNB:  0.8065967918498007
BIC = 474.85204526698
AIC = 70.42391462463371

In [13]:
rmse = math.sqrt(mean_squared_error(y, predictions))
print(rmse)

1.1691827324869755

Gaussian Naive Bayes

In [18]:
GNB = GaussianNB()
predictions_GNB = cross_val_predict(GNB, x, y, cv=10)
resid = y - predictions_GNB
SSE = sum(resid**2)
AIC = 2*42  - 2*np.log(SSE)
BIC = 649 * np.log(SSE/649) + 42 * np.log(649)


print('BIC =',BIC)
print('AIC =',AIC)

R_GNB = metrics.r2_score(y, predictions_GNB)
print('RGNB: ', R_GNB)


rmse_GNB = math.sqrt(mean_squared_error(y, predictions_GNB))
print('RMSE ', rmse_GNB)

BIC = 1809.4801974414024
AIC = 66.31103896307924
RGNB:  -0.5120399854891369
RMSE  3.2691300209674674